* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: normal;
}

nav {
  display: flex;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  ;
  height: 6vh;
}

nav img {
  height: 5em;
  align-self: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 2;
  list-style: none;
  align-items: center;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: white;
}

article {
  background: antiquewhite;
  border-radius: 1%;
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  max-height: 100%;
  max-width: 100%;
}

footer {
  position: fixed;
  text-align: center;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  color: white;
  height: 4vh;
  bottom: 0;
  width: 100%;
}

#picture-of-max {
  background: #ddc;
}

.story {
  margin: 10%;
  font-size: 100%;
}

#description {
  width: 100%;
  font-style: italic;
  margin-bottom: 30px;
}

main {
  background-image: url('./assets/img/bkground.jpg');
  background-size: cover;
}

.frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
  box-sizing: border-box;
  display: inline-block;
  margin: 5vh 5vw;
  padding: 6vmin;
  position: relative;
  text-align: center;

  &:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
  }

  &:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
  }
}

p {
  align-self: center;
}

.important-word {
  font-weight: bolder;
}

#story-container {
  width: 40vw;
  height: 50vh;
  overflow: scroll;
  margin: 0 auto;
}